*{margin: 0; padding: 0; scroll-behavior: smooth;}
body{ background: linear-gradient(45deg,white,grey,black);}
.mainpage{width: 90%; margin: auto; padding-top: 10px;}
nav{height: 80px; background-color: rgb(201, 201, 105); text-align: center; line-height: 80px; ; font-size: 200%; position: sticky; top:0; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
nav ul,li{display:inline; color: whitesmoke; list-style-type: none; text-transform: uppercase; padding: 10px;}
nav a{color:rgb(0, 0, 0); text-decoration: none;}
nav a:hover{color: rgb(253, 253, 253); text-decoration: solid; transition: 0.5s;}
#cennik{text-align: left; text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif;}
#gallery{text-align: left; text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif;}
#alphaship{border: 5px solid #555; margin: 3px;}
p{font-size: 180%; font-family: monospace;}
header{height:100vh; background-image:url("../img/mn4.jpg"); background-size: cover; background-position: center; text-align: center;}

.secondpage{background-color: beige;}
.secondpage h1{ padding: 30px; font-size: 250%;}

.secondpage p{padding:10px;}

footer{height: 50px; background-color: rgb(201, 201, 105);}

#parallax1{height:61vh;width:100%;background-image:url("../img/mn1.jpg");background-size:cover;display:table;background-attachment:fixed;}
#parallax2{height:61vh;width:100%;background-image:url("../img/mn2.jpg");background-size:cover;display:table;background-attachment:fixed;}
#parallax3{height:61vh;width:100%;background-image:url("../img/mn3.jpg");background-size:cover;display:table;background-attachment:fixed;}